<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="/css/site.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
        <div>@DateTime.Now,Year</div>

        <footer>
            @RenderSection("footer", required:true);
        </footer>
    </body>

</html>
