﻿@using OdeToFood.Models
@model OdeToFood.Models.Restaurant
<h1>Create</h1>
<form method="post">
    
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" style="color:red"></span>
    </div>
    
    <div>
        <label asp-for="Cuisine"></label>
        <select asp-for="Cuisine"
                asp-items="@Html.GetEnumSelectList<CuisineType>()">
    
        </select>
    </div>
    <input type="submit" name="save" value="Save" />
</form>
<div asp-validation-summary="All"></div>