@model Restaurant

@{
    ViewBag.Title = Model.Name;
}

<h1 style="color:red;">@Model.Id</h1>

<h1>@Model.Name</h1>

<h2>@Model.Cuisine</h2>


<div>
<a asp-action="">BackEmpty</a>
</div>

<div>
<a asp-action="Index" asp-controller="Home">Back</a>
</div>