
@model OdeToFood.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    All Restaurants
</h1>
<table>
    @foreach(var restuarant in Model.Restaurants)
    {
        <tr>
            <td>@restuarant.Id</td>
            <td>:</td>
            <td>@restuarant.Name</td>
            <td>
                <a asp-action="Details" asp-route-id="@restuarant.Id">Home</a>
            </td>
        </tr>

    }
</table>
<a asp-action="Create">Add Restaurant</a>

@section footer {
    @Model.CurrentMessage
}